extends ./layouts/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", srcset="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                Blockquote ipsum dolor sit amet, consectetur adipiscing elit. Maecenas rhoncus auctor tortor, eget auctor nulla rutrum ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu turpis nec dui malesuada convallis vel at tortor. In mollis finibus vehicula. Etiam egestas odio sapien, tincidunt facilisis erat pharetra et. Duis eget nisi et tortor posuere vestibulum. In hac habitasse platea dictumst. Donec hendrerit vehicula ante, in vulputate tellus cursus id. Donec vel lacus sit amet augue pulvinar condimentum a eget nulla. Praesent nisl velit, rhoncus sed odio ac, faucibus facilisis lorem. Morbi urna elit, luctus ac turpis sed, cursus sodales mi.

                p sodales imperdiet dolor, vel cursus felis accumsan non. Fusce accumsan scelerisque metus non congue. Phasellus luctus ultrices diam non interdum. In iaculis massa eu dui rhoncus iaculis. Donec aliquet lacus ac eros porta, sit amet molestie felis dignissim. Aliquam et elit mattis, porta eros ac, porta velit. Aenean et volutpat velit, eget convallis nulla. Mauris cursus risus varius consectetur luctus. Maecenas a odio viverra, convallis arcu sit amet, molestie augue. Cras maximus dictum nulla et varius. Fusce feugiat dignissim augue, sed aliquam metus. Praesent at orci ante. Proin bibendum augue ac suscipit blandit. Morbi congue imperdiet tellus id convallis.

                p nisi metus, dictum vel diam vel, ullamcorper porta lacus. Cras eros augue, eleifend vitae ligula at, facilisis fringilla ipsum. Curabitur facilisis, dui eu sodales rutrum, justo nisl finibus mauris, quis cursus sapien justo nec nulla. Maecenas a orci risus. Etiam neque odio, semper nec vestibulum ac, euismod at tellus. Mauris egestas sapien ut tellus ullamcorper, sit amet pretium mi porta. Donec accumsan pharetra nibh, et lacinia enim semper aliquam. Integer dapibus bibendum urna, at sollicitudin libero. Praesent tristique, nunc lacinia luctus finibus, mauris lorem rutrum mauris, eu pellentesque metus nisl sed velit. Vestibulum felis lorem, consequat sed eros et, fermentum ornare justo. Sed non magna non diam dapibus condimentum sit amet sed justo. In hac habitasse platea dictumst. Aliquam risus quam, cursus commodo dictum vitae, eleifend a tortor.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", srcset="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p isi metus, dictum vel diam vel, ullamcorper porta lacus. Cras eros augue, eleifend vitae ligula at, facilisis fringilla ipsum. Curabitur facilisis, dui eu sodales rutrum, justo nisl finibus mauris, quis cursus sapien justo nec nulla. Maecenas a orci risus. Etiam neque odio, semper nec vestibulum ac
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", srcset="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p isi metus, dictum vel diam vel, ullamcorper porta lacus. Cras eros augue, eleifend vitae ligula at, facilisis fringilla ipsum. Curabitur facilisis, dui eu sodales rutrum, justo nisl finibus mauris, quis cursus sapien justo nec nulla. Maecenas a orci risus. Etiam neque odio, semper nec vestibulum ac

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", srcset="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p isi metus, dictum vel diam vel, ullamcorper porta lacus. Cras eros augue, eleifend vitae ligula at, facilisis fringilla ipsum. Curabitur facilisis, dui eu sodales rutrum, justo nisl finibus mauris, quis cursus sapien justo nec nulla. Maecenas a orci risus. Etiam neque odio, semper nec vestibulum ac