extends ./layouts/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        blockquote.text-center Lee sobre nuestros clientes y sus experiencias
        include ./layouts/bloque_testimoniales

        .row
            .col-md-12
                h2.d-block.w-100.text-center Agrega un testimonial

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje

            .row.justify-content-center.col
                .col-md-8
                    form(action="/testimoniales", method="post") 
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre(type="text", name="nombre", placeholder="Tu Nombre", class="form-control", value= nombre)
                        .form-group 
                            label(for="correo") Correo
                            input#correo(type="email", name="correo", placeholder="Tu correo", class="form-control", value= correo)
                        .form-group 
                            label(for="mensaje") Mensaje 
                            textarea#mensaje(name="mensaje", placeholder="Tu Mensaje", rows="3", class="form-control")= mensaje
                        input.btn.btn-success.btn-block(type="submit")